.react-component__pagination{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 4px 0px;
    font-size: 12px;
    &__filler{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 27px;
        height: 27px;
        letter-spacing: 3px;
        pointer-events: none;
    }
    &__item{
        width: 27px;
        height: 27px;
        border: 1px solid #e4e4e4;
        border-radius: 2px;
        outline: none;
        cursor: pointer;
        &:hover{
            filter: brightness(.75);
            transition: .25s;
        }
        &.active{
            filter: brightness(.75);
        }
        & + &{
            margin-left: 4px;
        }
    }
}