.react-component__table{
    transition: .25s;
    table{
        border-collapse: collapse; 
        width: 100%;
        font-size: 12px;
        thead{
            font-weight: bold;
            & tr{
                border-bottom: 1px solid #e8e8e8;
            }
        }
        tr{
            height: 30px;
            cursor: pointer;
            transition: .25s;
        }
        th, td{
            padding: 4px;
            min-height: 30px;
            text-align: start;
        }
    }
}